# generated by Reslang v0.9.0
openapi: 3.0.1
info:
    title: Segment API - ALPHA
    description: ""
    version: 0.0.1
servers:
    - url: "https://api.liveramp.com/segment-api"
tags:
    - name: Segment
      description: (asset) A canonical Segment
    - name: SegmentIngestionRequest
      description: "(request) "
    - name: SegmentExtractionRequest
      description: "(request) "
paths:
    /v1/segments:
        post:
            tags:
                - Segment
            operationId: Create Segment
            description: ""
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/SegmentInput"
            responses:
                "201":
                    description: Segment created successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        description: ""
                                        type: string
    "/v1/segments/{id}":
        get:
            tags:
                - Segment
            operationId: Get 1 Segment
            description: ""
            responses:
                "200":
                    description: Segment retrieved successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SegmentOutput"
            parameters:
                - in: path
                  name: id
                  required: true
                  description: ""
                  schema:
                      type: string
    /v1/segment-ingestion-requests:
        post:
            tags:
                - SegmentIngestionRequest
            operationId: Create SegmentIngestionRequest
            description: ""
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/SegmentIngestionRequestInput"
            responses:
                "201":
                    description: SegmentIngestionRequest created successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        description: ""
                                        type: string
    "/v1/segment-ingestion-requests/{id}":
        get:
            tags:
                - SegmentIngestionRequest
            operationId: Get 1 SegmentIngestionRequest
            description: ""
            responses:
                "200":
                    description: SegmentIngestionRequest retrieved successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SegmentIngestionRequestOutput"
            parameters:
                - in: path
                  name: id
                  required: true
                  description: ""
                  schema:
                      type: string
    /v1/segment-extraction-requests:
        post:
            tags:
                - SegmentExtractionRequest
            operationId: Create SegmentExtractionRequest
            description: ""
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/SegmentExtractionRequestInput"
            responses:
                "201":
                    description: SegmentExtractionRequest created successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        description: ""
                                        type: string
    "/v1/segment-extraction-requests/{id}":
        get:
            tags:
                - SegmentExtractionRequest
            operationId: Get 1 SegmentExtractionRequest
            description: ""
            responses:
                "200":
                    description: SegmentExtractionRequest retrieved successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SegmentExtractionRequestOutput"
            parameters:
                - in: path
                  name: id
                  required: true
                  description: ""
                  schema:
                      type: string
components:
    parameters: {}
    schemas:
        SegmentInput:
            type: object
            properties:
                name:
                    description: ""
                    type: string
                identifierType:
                    description: ""
                    type: string
                    enum: &ref_0
                        - PEL
                        - CID
                        - MUID
                        - LRCookie
                        - PartnerCookie
            required:
                - name
                - identifierType
        SegmentOutput:
            type: object
            properties:
                id:
                    description: ""
                    type: string
                name:
                    description: ""
                    type: string
                identifierType:
                    description: ""
                    type: string
                    enum: *ref_0
                createdAt:
                    description: ""
                    type: string
                    format: ISO8601 UTC date-time
                    example: "2019-04-13T03:35:34Z"
                updatedAt:
                    description: ""
                    type: string
                    format: ISO8601 UTC date-time
                    example: "2019-04-13T03:35:34Z"
            required:
                - id
                - name
                - identifierType
                - createdAt
                - updatedAt
        SegmentIngestionRequestInput:
            type: object
            properties:
                segmentId:
                    description: ""
                    type: string
                    example: Link to a Segment  resource via its id
                inputDataURL:
                    description: ""
                    type: string
                    format: url
                    example: "https://www.domain.com (url)"
            required:
                - segmentId
                - inputDataURL
        SegmentIngestionRequestOutput:
            type: object
            properties:
                id:
                    description: ""
                    type: string
                segmentId:
                    description: ""
                    type: string
                    example: Link to a Segment  resource via its id
                inputDataURL:
                    description: ""
                    type: string
                    format: url
                    example: "https://www.domain.com (url)"
                createdAt:
                    description: ""
                    type: string
                    format: ISO8601 UTC date-time
                    example: "2019-04-13T03:35:34Z"
                status:
                    description: ""
                    type: string
                    enum: &ref_1
                        - QUEUED
                        - IN_PROGRESS
                        - COMPLETED
                        - FAILED
                        - CANCELLED
                completedAt:
                    description: ""
                    type: string
                    format: ISO8601 UTC date-time
                    example: "2019-04-13T03:35:34Z"
                MetaData:
                    description: ""
                    $ref: "#/components/schemas/SIROutputMetadata"
            required:
                - id
                - segmentId
                - inputDataURL
                - createdAt
                - status
        SegmentExtractionRequestInput:
            type: object
            properties:
                segmentId:
                    description: ""
                    type: string
                    example: Link to a Segment  resource via its id
            required:
                - segmentId
        SegmentExtractionRequestOutput:
            type: object
            properties:
                id:
                    description: ""
                    type: string
                segmentId:
                    description: ""
                    type: string
                    example: Link to a Segment  resource via its id
                createdAt:
                    description: ""
                    type: string
                    format: ISO8601 UTC date-time
                    example: "2019-04-13T03:35:34Z"
                status:
                    description: ""
                    type: string
                    enum: *ref_1
                completedAt:
                    description: ""
                    type: string
                    format: ISO8601 UTC date-time
                    example: "2019-04-13T03:35:34Z"
                MetaData:
                    description: ""
                    $ref: "#/components/schemas/SEROutputMetadata"
            required:
                - id
                - segmentId
                - createdAt
                - status
        SIROutputMetadata:
            type: object
            properties:
                version:
                    description: ""
                    type: string
                totalInputRecordCount:
                    description: ""
                    type: number
            required:
                - version
                - totalInputRecordCount
        SEROutputMetadata:
            type: object
            properties:
                outputDataURL:
                    description: ""
                    type: string
                    format: url
                    example: "https://www.domain.com (url)"
                totalOutputRecordCount:
                    description: ""
                    type: number
            required:
                - outputDataURL
                - totalOutputRecordCount
        StandardError:
            type: object
            properties:
                httpStatus:
                    description: HTTP error status code for this problem
                    type: number
                errorCode:
                    description: "Service specific error code, more granular"
                    type: string
                message:
                    description: "General, human readable error message"
                    type: string
            required:
                - httpStatus
                - errorCode
                - message
